/* Box Model Hack */

  *{
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
    clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
  
    clear: both;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header {
  
  }
  
  footer {
  
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  section {
    border: 1px solid black;
    height: 200px;
    width: 50%; 
    float: left; 
  }

/* notes to self: trying out the way I got help from stackoverflow question i posted
.grid {
  display: grid;
  grid-template-rows: repeat (2, 1fr);
  grid-template-columns: repeat (5, 1fr);
  gap: 1rem ; 
}
  
  .card {
    background-color: pink;
    border: 1px solid black;
    aspect-ratio : 1;
    display:   flex; 
    width: 10%;
    

  }*/

